<table>
    <tr>
        <th> Name </th>
        <th> Attendees </th>
    </tr>
    {{# session }}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {{/ session }}
</table>
